_CFCARD=${TARGETDEV}
_BOOTFS="${_CFCARD}1"
_ROOTFS="${_CFCARD}2 ${_CFCARD}3"
_DATAFS="${_CFCARD}4"

#Include config file
if [ -f /mnt/.rks_config ]; then
#User define
. /mnt/.rks_config
else
#Default
. /default/.rks_config
fi

#read default val.
G_PORT1="$_DEF_PORT1"
G_PORT2="$_DEF_PORT2"

G_PORT="$_DEF_PORT"

G_KERNEL="$_DEF_KERNEL"
G_INITRAMFS="$_DEF_INITRAMFS"
G_NFS_ROOT="$_DEF_NFS_ROOT"

G_TFTP_KERNEL_CMD="$_DEF_TFTP_KERNEL_CMD"
G_NFS_KERNEL_CMD="$_DEF_NFS_KERNEL_CMD"

G_SERVER_IP="$_DEF_SERVER_IP"
G_HOST_IP="$_DEF_HOST_IP"
G_NET_MASK="$_DEF_NET_MASK"

G_TEMP_FILE="$_DEF_TEMP_FILE"

G_SECTOR_CLEAN="$_DEF_SECTOR_CLEAN_LIST"

G_BOARD_DATA_SRC="$_DEF_BOARD_DATA_SRC"
G_BOARD_DATA_FIELD="$_DEF_BOARD_DATA_FIELD"
G_BOARD_DATA_FILE="$_DEF_BOARD_DATA_FILE"

if [ "$PLATFORMINFO" = "T5520UR" ]; then
G_BOARD_DATA="$_DEF_BOARD_DATA_T5520UR"
elif [ "$PLATFORMINFO" = "NAR5520" ]; then
G_BOARD_DATA="$_DEF_BOARD_DATA_NAR5520"
fi

#System Restore
G_PROTOCOL="tftp"
G_IMAGE="zd_upg.img"
G_PLATFORM="$PLATFORMINFO"
G_VERSION="unknown"
G_UPG_DIR="/tmp/upg"

#local shared var.
AUTOCMD=""
TMPDIR=/tmp
LOG=$TMPDIR/log
AUTOCONFIRM="yes"
INPUTSTR=""

